body {
  margin: 0;
  overflow-x: hidden;
  background: black;
  color: white;
}

.hero-section {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: black;
}

.hero-heading {
  letter-spacing: 2px;
  font-size: 40px;
  color: rgba(0, 255, 255, 0.8);
  font-weight: 400;
}

.stat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  width: 160px;
  margin-bottom: 100px;
  border: 1px solid #292929;
  transition: 0.3s ease;
  transform: translateY(20px);
}

.stat-card:hover {
  border: 1px solid #5d5d5d;
}

.stat-value {
  font-size: 25px;
  font-weight: 700;
  color: #eee;
  margin-bottom: 2px;
}

.stat-label {
  font-size: 14px;
  color: #ddd;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.road-strip {
  width: 100%;
  height: 200px;
  background-color: #292929;
  position: relative;
  overflow: hidden;
}

.car-image {
  position: absolute;
  left: -410px;
  z-index: 2;
  width: 400px;
  top: -20px;
}

.letter {
  opacity: 0;
  transform: translateX(30px);
}

.splash {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.splash-text {
  font-size: 3rem;
  letter-spacing: 10px;
  color: rgba(0, 255, 255, 0.8);
  font-weight: 500;
  animation: splashAnimation 5s ease forwards;
}

@keyframes splashAnimation {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  20% {
    opacity: 1;
    transform: scale(1);
  }

  70% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
